@import '../../utils/colors.scss';

.todo {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  width: 320px;
  border: 1px solid $color-light-grey;
  border-radius: 3px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__title {
    padding-inline: 16px 32px;
    line-height: 16px;
  }

  &__icon {
    visibility: hidden;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &--visible {
      visibility: visible;
    }

    &--close {
      margin-left: auto;
    }
  }
}
